/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #57c1eb 0%, #246fa8 100%) no-repeat;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 16px;
}

.flash.alert {
  padding: 12px;
  background: #ffffc8;
  color: #434300;
}

.sign-in, .sign-up {
  padding: 16px;
  border-radius: 4px;
  background-color: #fff;
}

.sign-in h2, .sign-up h2 {
  margin-top: 0;
  color: #333;
}

.sign-in label, .sign-up label {
  display: block;
  margin-bottom: 4px;
}

.sign-in input, .sign-up input {
  display: block;
  width: 100%;
  padding: 12px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
}

.sign-in input[type="submit"],
.sign-up input[type="submit"] {
  font-size: 1em;
  font-weight: 700;
  color: #333;
}

.sign-in .other-links, .sign-up .other-links {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.other-links a {
  color: #333;
  font-size: 0.8em;
}

.sign-in > form > div, .sign-up > form > div {
  margin-bottom: 16px;
}

.weather-profile {
  padding: 16px;
  margin-bottom: 32px;
  text-align: right;
}

.weather-profile span {
  font-size: 0.8em;
  margin-bottom: 8px;
  color: #fff;
  display: block;
}

.weather-profile button {
  appearance: none;
  border: 0;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.weather-profile a {
  text-decoration: none;
  color: #fff;
}

.weather-header {
  padding: 32px;
  border-bottom: 1px solid #eeeeee47;
  margin-bottom: 0;
}

.weather-header__emoji {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 6em;
  line-height: 72px;
}

.weather-header__temp {
  text-align: center;
  color: #fff;
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 3em;
  font-weight: 100;
}

.weather-header__title {
  text-align: center;
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 3em;
}

.weather-header__time {
  text-align: center;
  margin-top: 12px;
  color: #fff;
  font-size: 1.2em;
}

.weather-table__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #eeeeee47;
}

.weather-table__row-new {
  text-align: center;
  padding: 16px 0;
  border-bottom: 1px solid #eeeeee47;
  font-size: 1.2em;
}

.weather-table__row-new a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
}

.weather-table__row-city {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2em;
}

.weather-table__row-city:hover {
  text-decoration: underline;
}

.weather-table__row-icon {
  text-align: center;
  font-size: 1.2em;
  color: #fff;
}

.weather-table__row-action {
  text-align: right;
}

.weather-table__row-action button {
  color: #fff;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
}

.weather-modal {
  background-color: #fcfcfc;
  border-radius: 4px;
  border: 1px solid #46a5d3;
  position: fixed;
  top: calc(50% - 200px);
  left: 16px;
  width: calc(100% - 32px);
}

.weather-modal__head {
  padding: 16px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  border-bottom: 1px solid #ddd;
}

.weather-modal__title {
  color: #333;
  font-weight: 700;
  font-size: 1.4em;
}

.weather-modal__close {
  text-decoration: none;
  color: #919191;
  font-size: 2em;
}

.weather-modal__body {
  padding: 16px;
}

.weather-model__error {
  padding: 8px;
  margin: 0;
  margin-bottom: 16px;
  background-color: #ffdbdb;
  text-align: center;
  border-radius: 4px;
  color: #5a0000;
}

.weather-modal__body select {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  padding: 12px;
  color: #333;
  appearance: none;
  cursor: pointer;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  font-size: 1.2em;
}

.weather-modal__body button {
  display: block;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #cdcdcd;
  font-size: 1em;
  font-weight: 700;
  color: #333;
}
